@charset "UTF-8";

/*--- Para todas as telas > 750px ---*/
@media screen and (min-width: 750px){
    header{
        flex-direction: row;
    }
    
    header nav a:hover{
        color: var(--blue);
    }

    main div.apresentacao {
        flex-direction: row;
        justify-content: space-around;
    }

    main div.apresentacao img{
        width: 30%;
    }

    main .title h2{
        font-size: 1.4em;
    }
    
    main .title div{
        color: #3658C1;
        font-size: 2.9em;
    }

    main div.icons i{
        font-size: 2.0em;
    }

    main div.icons i:hover{
        cursor: pointer;
        color: var(--blue);
    }

    main div.informacoes{
        font-size: 1.2em;
    }

    main div#contato div.links_imagem{
        flex-direction: row;
        justify-content: space-around;
    }

    main div#contato div.links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }

    button{
        cursor: pointer;
    }
}