@charset "UTF-8";

:root{
    --titulo: 'Times New Roman', Times, serif;
    --subtitulo_conteudo: Arial, Helvetica, sans-serif;

    --subtitulo_bold: bold;

    --titulo_tam: 1.4rem;
    --subtitulo_tam: 1.2rem;
    --conteudo_tam: 1rem;

    --preto: #000000;
    --branco: #FFFFFF;
    --azul1: #2A6BF5;
    --azul2: #255FDB;
    --azul3: #091736;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: var(--subtitulo_conteudo);
    background-color: var(--branco);
    width: 100%;
    height: 100%;
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
    box-shadow: 1px 1.6px 3px rgba(0, 0, 0, 0.13);
    z-index: 2;
    background-color: var(--branco);
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div #logo{
    width: 40%;
    margin: 10px;
}

header div #menu{
    cursor: pointer;
    width: 30px;
    margin: 10px;
}

menu#itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    padding: 10px;
}

menu#itens ul{
    list-style: none;
}

menu#itens ul li{
    font-family: var(--subtitulo_conteudo);
    font-size: var(--subtitulo_tam);
    cursor: pointer;
    margin: 15px;
}

menu#itens ul li:hover{
    font-weight: var(--subtitulo_bold);
}

menu#itens ul li a{
    color: var(--preto);
}

/* MAIN */

main{
    width: 100%;
    margin-top: 90px;
}

/* ---Inicio--- */

section#inicio{
    background-color: var(--azul3);
    color: var(--branco);
    margin: 15px;
    padding: 10px;
    width: 90%;
    margin: auto;
    border: 2px solid #ad191900;
}

#inicio div.conteudo h1{
    font-family: var(--titulo);
    font-size: var(--titulo_tam);
    padding: 5px;
    margin-left: 5px;
}

#inicio div.conteudo p{
    font-family: var(--subtitulo_conteudo);
    font-size: var(--subtitulo_tam);
    padding: 5px;
    margin-left: 5px;
}

#inicio div.conteudo ul{
    margin-top: 10px;
}

#inicio div.conteudo ul li{
    margin-left: 35px;
}

#inicio div.conteudo button{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--preto);
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
    background-color: var(--branco);
}

#inicio div.conteudo button:hover{
    background-color: #ffffffea;
}

#inicio div.conteudo button img{
    width: 20px;
}

#inicio div.conteudo button a{
    color: var(--preto);
}

#inicio div.imagem{
    display: none;
}

/* ---Projetos--- */

section#projetos{
    margin: 15px auto;
    padding: 10px;
    width: 90%;
    border: 2px solid var(--preto);
}

#projetos h1{
    font-family: var(--titulo);
    text-align: center;
}

#projetos div.itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#projetos div.itens div.item{
    padding: 20px;
}

#projetos div.itens div.item img{
    border: 2px solid var(--preto);
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
}

#projetos div.itens div.item h2{
    font-family: var(--titulo);
}

#projetos div.itens div.item p.sobre{
    font-family: var(--subtitulo_conteudo);
    font-weight: var(--subtitulo_bold);
    padding-top: 5px;
}

#projetos div.itens div.item div.info{
    margin-top: 10px;
}

#projetos div.itens div.item div.info p{
    font-family: var(--subtitulo_conteudo);
    padding-top: 5px;
    cursor: pointer;
}

#projetos div.itens div.item div.info p a{
    color: var(--preto);
}

#projetos p#proj{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
}

/* ---Habilidades--- */

